/** ------ Image preview form type styles ------------- **/

div[rel="phimagebuilder"]
{
    width:                      420px;
    position:                   relative;
    float:                      left;
    box-sizing:                 content-box !important;
}
div[rel="phimagebuilder"] img
{
    max-width:                  410px;
    border:                     1px dashed #cccccc;
    margin-bottom:              5px;
}
.phimagebuilder_separator
{
    clear:                      both;
}
.phimagebuilder_thumb_container
{
    width:                      245px;
    float:                      left;
}
.phimagebuilder_thumb_container *
{
    box-sizing:                 content-box !important;
}
.phimagebuilder_thumb_container > div
{
    margin-bottom:              5px;
    margin-right:               5px;
    border:                     1px solid #cccccc;
    position:                   relative;
    display:                    block;
    overflow:                   hidden;
    box-shadow:                 0 0 10px rgba(0,0,0,0.5);
}
.phimagebuilder_thumb_container div.waiting
{
    opacity:                    0.2;
}
.phimagebuilder_label_border
{
    border:                     5px solid #ffffff;
    overflow:                   hidden;
}
.phimagebuilder_thumb_container > div:hover
{
    border:                     1px solid red;
}
.phimagebuilder_label_size, .phimagebuilder_label_apply, .phimagebuilder_label_discard, .phimagebuilder_label_change
{
    display:                    block;
    position:                   absolute;
    background:                 #cccccc;
    opacity:                    0.7;
    left:                       5px;
    top:                        5px;
}
.phimagebuilder_label_size
{
    border-radius:              3px;
    padding:                    3px;
}
div.phimagebuilder_label_apply:hover, div.phimagebuilder_label_discard:hover
{
    opacity:                    1;
}
.phimagebuilder_label_apply
{
    display:                    none;
    background:                 darkgreen;
    left:                       5px;
    top:                        auto;
    bottom:                     5px;
    color:                      white;
    width:                      50%;
}
.phimagebuilder_label_discard
{
    width:                      50%;
    display:                    none;
    background:                 #cc0000;
    top:                        auto;
    bottom:                     5px;
    left:                       auto;
    right:                      5px;
    color:                      white;
}
.phimagebuilder_label_change
{
    top:                        auto;
    right:                      5px;
    bottom:                     5px;
}
.phimagebuilder_thumb_container img
{
    cursor:                     pointer;
}