{% block itm_image_preview_widget %}
    {% spaceless %}

        <link rel="stylesheet" href="{{ asset('bundles/itmimagepreview/css/style.css') }}"/>

        <img class="itm_ipw_original" src="{{ form.parent.vars.value|itm_ipw_url(form.vars.name) }}"/>
        <div class="itm_ipw_separator"></div>

        {% set filters = itmIPW_ListFilters(form.parent.vars.value, form.vars.name) %}
        {% for filter in filters %}
            <img class="itm_ipw_preview" src="{{ form.parent.vars.value|itm_ipw_path(form.vars.name) | imagine_filter(filter) }}"/>
        {% endfor %}

        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock %}